PORT=3000
REDIS_URL=redis://localhost:6379
ALCHEMY_API_KEY=FwlHxSoxlKQVJIIdVRlzQ
QUICKNODE_API_KEY=your_quicknode_api_key_here
QUICKNODE_STREAM_SECRET=your_quicknode_stream_secret_here
CONTEXT_API_KEY=your_context_api_key_here
NODE_ENV=development
CTX_AUTH_ENABLED=false
